* {
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	background-image: url("img/patt.png");
}
.container {
	width: 1170px;
	margin: 0 auto;
}
[class*="col-"] {
	float: left;
}
.col-md-3 {
	width: 25%;
}

.col-md-6 {
	width: 50%;
}
.row:after {
	content: "";
	clear: both;
	display: block;
}
.header {
	padding: 25px 0;
	background-color: rgba(255,255,255,0.75);
}
.menu li {
  float: left;
  width: 25%;
  border-left: 1px solid #2c71b8;
  position: relative;
}
.menu li:last-child {
  border-right: 1px solid #2c71b8;
}
.menu li a {
  display: block;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 21px;
  color: #2c71b8;
}
.menu li a:hover {
  background-color: #2c71b8;
  color: white;
}

.submenu li {
  float: none;
  width: 294px;
}
.submenu li a {
  display: block;
  background-color: #2c71b8;
  color: white;
  font-size: 21px;
  text-transform: none;
  list-style-type: none;
  text-decoration: none;
  text-align: left;
  padding-left: 27px;
}
.submenu li a:hover {
  background-color: white;
  color: #2c71b8;
}
.submenu {
  display: none;
  position: absolute;
  left: -1px;
}
.menu li:hover .submenu  {
  display: block;
}
.arrow {
  position: absolute;
  left: 118px;
  top: 15px;
}
.input {
	width: 75%;

}
.logo {
	margin-top: 10px;
}

.search {
	margin-top: 7px;
	position: relative;	
}
input[type='text']{
    border: none;
    
}
input::-webkit-input-placeholder { 
	color: #2c71b8; 
}
input:required {
	border: 1px solid #2c71b8 ;
	margin-left: 30px;
	width: 200px;
	height: 40px;
	color: #2c71b8;
	font-size: 21px;
	background-color: #CADBED;
}
input {
	padding: 0 36px;
}
.lens {
	float: right;
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: #2c71b8;
	left: 195px;
	top: 5px;
}
.icon {
	padding: 8px;
}
.lactcol-1 {
	width: 75%;
}
.lascol-2 {
	width: 25%;
	float: right;
	position: relative;
}
.pocket {
	margin-left: 22px;
	width: 40px;
	height: 40px;
	background-color: white;
}
.block {
	width: 20px;
	height: 20px;
	background-color: #2c71b8;
	border-radius: 10px;
	position: absolute;
	top: -8px;
	left: 240px;
	color: white;
	text-align: center;
}
.basket {
	position: absolute;
	top: 20px;
	left: 20px;
}