body {
  background-color: #ddd;
}
.header {
  height: 400px;
  background-image: url("images/bg.jpg");
  color: white;
  text-align: center;
}
@media (max-width: 1199px) {
  .display-2 {
    font-size: 60px;
    }/* CSS для ширины от 992px до 1199px */
}

/* md-размер (<=991px) */
@media (max-width: 991px) {
  .display-2 {
    font-size: 55px;
    }/* CSS для ширины от 768px до 991px */
}

/* sm-размер (<=768px) */
@media (max-width: 767px) {
  .display-2 {
    font-size: 50px;
    }/* CSS для ширины от 576px до 767px */
}

/* xs-размер (<=575px) */
@media (max-width: 575px) {
  .display-2 {
    font-size: 35px;
    }/* CSS для ширины до 575px (включительно) */
}
@media (max-width: 1199px) {
  .lead {
    font-size: 20px;
    }/* CSS для ширины от 992px до 1199px */
}

/* md-размер (<=991px) */
@media (max-width: 991px) {
  .lead {
    font-size: 18px;
    }/* CSS для ширины от 768px до 991px */
}

/* sm-размер (<=768px) */
@media (max-width: 767px) {
  .lead {
    font-size: 15px;
    }/* CSS для ширины от 576px до 767px */
}

/* xs-размер (<=575px) */
@media (max-width: 575px) {
  .lead {
    font-size: 15px;
    }/* CSS для ширины до 575px (включительно) */
}
/*.display-2 {
  font-size: 6vw;
}
.lead {
  font-size: 2vw;
}*/
.main {
  margin-top: 10px;
}
.block {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}
.page-link {
  background-color: #fff;
}
.footer {
  padding: 2rem 0;
  background-color: #282C34;
  color: white;
  margin-top: 3rem;
  font-size: vw;
}
.copyright {
  padding: 1rem;
  background-color: #373838;
  color: darkgrey;
  text-align: center;
}
.nav-link {
  color: teal;
}
.nav-link:hover {
  color: white;
}
