body {
	padding: 0;
	margin: 0;
}
div {
	box-sizing: border-box;
}
nav {
	float: right;
	margin-top: 35px;	
}
header {
	background-color: #CADBED;
	height: 120px;
}
input {
	width: 120px;
	height: 20px;
	margin-left: 400px;
	float: right;
	margin-top: -25px;
}
input::-webkit-input-placeholder {
	color: #3276BB;
}
.container {
	width: 940px;
	margin: 0 auto;
}
.logo {
	margin-top: 30px;
	float: left;
}
.menu {
	padding: 0;
	margin: 0;
	display: block;
}
.menu li {
	float: left;
	display: block;
	margin-right: 40px;
	border-right: 1px solid #3173B9;
	border-left: 1px solid #3173B9;
}
.menu a {
	color: #3276BB;
	text-decoration: none;
	font-size: 20px;
	
}
